  footer {
      background-color: transparent;
      color: #fff;
      padding: 10px;
      bottom: 0;
      width: calc(100% - 20px);
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    footer a {
      color: #fff;
      text-decoration: none;
      margin: 0 10px;
      font-weight: bold;
    }